html
    head
        title Client
        script(type="text/javascript", src="/javascripts/vendor/require.js", data-main="/javascripts/client.js")
        link(rel='stylesheet', href='/stylesheets/style.css')
