head
    title Server
    script(type="text/javascript", src="/javascripts/vendor/jquery.min.js")
    script(type="text/javascript", src="/javascripts//vendor/socket.io.min.js")
    script(type="text/javascript", src="/javascripts/rs.js")
body
